<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %> | <%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap"
      rel="stylesheet"
    />
    <style>
      .download-btn {
        position: absolute;
        top: 5px;
        right: 25px;
        color: white;
        background-color: black;
        padding: 3px 9px;
        border-radius: 3px;
        opacity: 0;
        transition: 0.5s;
        text-decoration: none;
      }

      .download-btn:hover {
        color: black;
        background-color: white;
      }

      .btngro:hover .download-btn {
        opacity: 1;
      }

      .author {
        text-decoration: none;
        color: black;
      }

      .author:hover {
        text-decoration: underline;
        color: black;
      }
    </style>
  </head>

  <body style="font-family: 'Rubik' !important;">
    <%- include('include/nav') %>
    <center>
      <h1><%= name %></h1>
      <a href="" class="author" style="">
        <i class="fas fa-user"></i> <%= auth %>
      </a>
    </center>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="<%= image %>" width="100%" alt="<%= name %>" />
          <div
            class="badge badge-dark"
            style="position: absolute;right: 25px;top: 10px;opacity: 0.7;"
          >
            <i class="fas fa-eye"></i> <%= view %>
          </div>
        </div>
      </div>

      <br />
      <div class="float-left">
        <i class="fas fa-images"></i> Category : <% for( let i = 0; i < 2; i++ )
        { %>
        <span class="badge badge-dark" style="padding-right: 5px;"
          ><%= categoly[i] %>
        </span>
        <% } %>
        <br />
        <i class="fas fa-tags"></i> Tags : <% for( let i = 0; i < tag.length;
        i++ ) { %>
        <span class="badge badge-dark" style="padding-right: 5px;"
          ><%= tag[i] %>
        </span>
        <% } %>
      </div>
      <div class="btn btn-danger float-right">
        <i class="fas fa-download"></i> Download
      </div>
    </div>
    <br /><br /><br />
    <div class="container">
      Comment
    </div>
    <br />
    <div class="container">
      <div id="moreImage"></div>
    </div>
    <br /><br /><br />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $.ajax({
        url: "../../moreimage/<%= id %>",
        success: function(result) {
          $("#moreImage").html(result);
        }
      });
    </script>
  </body>
</html>
