<div class="container">
  <h4><i class="fas fa-images"></i> Pictures you may like</h4>
  <div class="row">
    <% for(var i=0; i < image.length; i++) {%>
    <div class="btngro col-md-4 col-12" style="margin-bottom: 15px;">
      <a
        href="/image/<%= id[i].replace('undefined','') %> "
        style="text-decoration: none;color: black;margin-bottom: 15px;"
      >
        <img
          style="margin-bottom: 5px;"
          width="100%"
          class="lazyload"
          data-src="<%= image[i].replace('-350-','-1920-'); %>"
          src="<%= image[i] %>"
          alt=""
        />
        <% for(var s=0; s < tags.length; s++) {%> <% if (tags[i][s]) { %>
        <a
          href="/tags/<%= tags[i][s].replace(/ /g,'-') %>/<%= atags[i][s] %>"
          style="text-decoration: none;"
        >
          <span class="badge badge-dark" style="padding-right: 5px;"
            ><%= tags[i][s] %>
          </span>
        </a>
        <% } %> <% } %>
      </a>
    </div>
    <% } %>
  </div>
</div>
